.share-group-ctn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.group-share-btn {
    outline: none !important;
}

.share-group-tooltip {
    padding: 5px !important;
}